/.Rproj.user
/AR6
/cora.dbf
/cora.prj
/cora.shp
/cora.shx
/CORA_environment
/CZ_boundaries
/GIA
/MERGED_TP_J1_OSTM_OST_ALL_V52_5.2-20241222_143116
/MERGED_TP_J1_OSTM_OST_GMSL_ASCII_V52_5.2-20250318_190504
/NH CFR Science Update
/Report
/seavey_samples.RData
/SEA_SURFACE_HEIGHT_ALT_GRIDS_L4_2SATS_5DAY_6THDEG_V_JPL2205_2205-20241223_011322
/ssh_grids_v2205_1992101012.tif
/ssh_grids_v2205_1992101012.tif.aux.xml
/TEST_SEA_SURFACE_HEIGHT_ALT_GRIDS_L4_2SATS_5DAY_6THDEG_V_JPL2205_2205-20241223_011322